<!-- impresion.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista Previa de Impresión</title>
</head>
<body>
  <!-- Contenido de la página -->

  <!-- Agrega un botón para abrir la vista previa de impresión en el navegador -->
  <button onclick="abrirVistaPrevia()">Vista Previa de Impresión</button>

  <!-- Fin del contenido de la página -->

  <script>
    function abrirVistaPrevia() {
      // Abre la vista previa de impresión del navegador
      window.print();
    }
  </script>
</body>
</html>
